@model BetaViet.Models.BaseEntityWithSEoFields

<div class="form-group">
    <label asp-for="SEOTitle" class="control-label"></label>
    <input asp-for="SEOTitle" class="form-control" />
    <span asp-validation-for="SEOTitle" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SEODescription" class="control-label"></label>
    <input asp-for="SEODescription" class="form-control" />
    <span asp-validation-for="SEODescription" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SEOText" class="control-label"></label>
    <input asp-for="SEOText" class="form-control" />
    <span asp-validation-for="SEOText" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SEOTags" class="control-label"></label>
    <input asp-for="SEOTags" class="form-control" />
    <span asp-validation-for="SEOTags" class="text-danger"></span>
</div>